@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Didact Gothic", sans-serif;
    /* for smooth scrolling */
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--ShadeofBrown);
}

:root {
    /* shade of blue */
    --ShadeofBlue: #103958;
    /* Shade of green */
    --ShadeofGreen: #A0A603;
    /* shade of orange */
    --ShadeofOrange: #F29F05;
    /* Orange */
    --Red: #da0423;
    /* shade of brown */
    --ShadeofBrown: #882b28;
}

/* for bestseller buttons orange */
.colorforButton {
    color: white !important;
    background-color: var(--ShadeofOrange) !important;
    border: 1px solid var(--ShadeofOrange) !important;
}

.colorforButton:hover {
    background-color: transparent !important;
    border: 1px solid var(--ShadeofOrange) !important;
    color: var(--ShadeofBrown) !important;
}

/* for bestseller buttons orange */

/* For the Partnership logos */
.grayscaleImg img {
    filter: grayscale(100%);
    transition: 0.4s;
}

.grayscaleImg:hover img {
    filter: grayscale(0%);
}

/* For the Partnership logos */

/* Google maps embeded style */
.gmap_canvas {
    overflow: hidden;
    background: none !important;
}

/* Google maps embeded style */

/* For coloring sections, navbar, and footer */
.section-background {
    background-color: var(--ShadeofOrange);
}

.nav-footer-background {
    background-color: var(--ShadeofBlue);
}

.nav-link.active {
    color: var(--ShadeofOrange) !important;
}

/* For coloring sections, navbar, and footer */

/* For the scroll snap whole landing page */
.wholeSection {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.wholeSection nav, section {
    scroll-snap-align: start;
}

/* For the scroll snap whole landing page */


/* for the big button on carousel */

/* for color white on the footer section */
#footer a, #footer h6, div.text-center.p-4, .fonticons span, .fonticons i, #footer p {
    color: white !important;
}

.fonticons a {
    text-decoration: none;
}

/* for color white on the footer section */

/* manual responsiveness */
@media screen and (min-width: 600px) {

    /* for the big button on carousel */
    .buttonAdjuster {
        margin-right: 100px;
        margin-top: 50px;
    }

    .buttonAdjuster button {
        width: 250px;
        color: white;
        background-color: var(--Red);
        border: 1px solid var(--Red);
    }

    .buttonAdjuster button:hover {
        background-color: #ac1227;
        border: 1px solid var(--Red);
        color: white;
    }
}

@media screen and (max-width: 600px) {

    /* for the big button on carousel */
    .buttonAdjuster {
        margin-right: 0px;
        margin-top: 50px;
    }

    .buttonAdjuster button {
        width: 150px;
        color: white;
        background-color: var(--Red);
        border: 1px solid var(--Red);
    }

    .buttonAdjuster button:hover {
        background-color: #ac1227;
        border: 1px solid var(--Red);
        color: white;
    }

    iframe {
        width: 387px;
    }
}