@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Didact Gothic", sans-serif;
    /* for smooth scrolling */
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: var(--ShadeofBrown);
}

:root {
    /* shade of blue */
    --ShadeofBlue: #103958;
    /* Shade of green */
    --ShadeofGreen: #A0A603;
    /* shade of orange */
    --ShadeofOrange: #F29F05;
    /* Orange */
    --Red: #da0423;
    /* shade of brown */
    --ShadeofBrown: #882b28;
}

.colorforButton {
    color: white !important;
    background-color: var(--ShadeofOrange) !important;
    border: 1px solid var(--ShadeofOrange) !important;
}

.colorforButton:hover {
    background-color: transparent !important;
    border: 1px solid var(--ShadeofOrange) !important;
    color: var(--ShadeofBrown) !important;
}

.grayscaleImg img {
    filter: grayscale(100%);
}

.grayscaleImg:hover img {
    filter: grayscale(0%);
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}

.section-background {
    background-color: var(--ShadeofOrange);
}

.nav-footer-background {
    background-color: var(--ShadeofBlue);
}

.fonticons a {
    text-decoration: none;
}

.wholeSection {
    scroll-snap-type: y mandatory;
    max-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.wholeSection nav, section {
    scroll-snap-align: start;
}

.buttonAdjuster {
    margin-right: 100px;
    margin-top: 50px;
}

.buttonAdjuster button {
    width: 250px;
    color: white;
    background-color: var(--Red);
    border: 1px solid var(--Red);
}

.buttonAdjuster button:hover {
    background-color: #ac1227;
    border: 1px solid var(--Red);
    color: white;
}

#footer a, #footer h6, div.text-center.p-4, .fonticons span, .fonticons i, #footer p {
    color: white !important;
}